# Local .terraform dir and state
.terraform/
*.tfstate
*.tfstate.backup

# Sensitive variable files
*.tfvars

# Crash logs
crash.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
